.header {
    font-weight: bold;
    font-size: 3rem;
    padding-left: 30%;
    color: black;
}

.body {
    background-color: aliceblue;
}

.label {
    margin-left: 40%;
    font-size: 2rem;
    font-weight: bold;

}

.nameLable {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-left: 20%;
    display: inline-block;
    margin-top: 2%;
}

.nameInput {
    /* padding-right: 40%; */
    width: 50%;
}

.dateLable {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-left: 20%;
    display: inline-block;
    margin-top: 2%;
}

.dateInput {
    width: 22%;
}

.amountLable {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-top: 2%;
}

.amountInput {
    width: 22%;
}

.btnAdd {
    margin-left: 45%;
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: bold;
}

.table,
tr,
td {
    margin-left: 20%;
    border: solid gray 2px;
    margin-top: 3%;
    width: 55%;
    border-collapse: collapse;
    /* text-align: center; */

}

.th {
    border: 1px solid gray;
}